<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/style.css" />
    <script src="https://unpkg.com/vue@next"></script>

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <p>{{ description }}</p>
      <a v-bind:href="url">Click Me!</a>
      <div>
        <img v-bind:src="image" alt="" />
      </div>
      <div>
        <h1 v-if="onSale">On Sale</h1>
      </div>
      <div>
        <h1 v-if="inventory>10">Lot of Stock</h1>
        <h1 v-else-if="inventory<=10 && inventory>0">Limited Stock</h1>
        <h1 v-else="inventory">Out of Stock</h1>
      </div>
      <ul>
        <li v-for="size in sizes">{{size}}</li>
      </ul>
      <div>
        <p>Cart[{{cart}}]</p>
        <button v-on:click="addToCart">Add To Cart</button>
        <button @click="deleteFromCart">Delete From Cart</button>
      </div>
    </div>
    <script src="main.js"></script>

    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
